<h1>Login</h1>
<% css_class = (notice == 'Login successful!' || notice == 'Logout successful!') ? 'alert alert-success' : 'alert alert-danger' %>

<% if notice.present? %>
  <%= content_tag :div, notice, class: css_class %>
<% end %>

<%= form_for :session, url: login_path do |f| %>
  
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.submit 'Login' %>
<% end %>
